<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>NewsAssistant</title>
</head>
<body>
    <div class="home-container">
        <div class="left">
            <h1 class="heading">AudioNews</h1>

            <div class="btns">
                <a href="/Tech" class="home-btn" style="color: black;" >Technology</a>
                <a href="/RSA" class="home-btn" style="color: black;" >South Africa</a>
            
                <a href="/USBiz" class="home-btn" style="color: black;" >US Business</a>
                <a href="/Search" class="home-btn" style="color: black;" >Search</a>
            </div>
            
        </div>
    </div>
</body>
</html>