<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>NewsAssistant</title>
</head>
<body>
    <div class="home-container">
        <div class="left">
            <h1 class="heading-2">Top Tech News</h1>
            <audio controls>
                <source src="{{ url_for('static', filename='music/text.mp3') }}" type="audio/mpeg" id="audio-player">
            </audio>
        </div>
    </div>
</body>
</html>