:root {
    --clr-white: #fff;
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
    --box-shadow: 8px 18px 53px 0px rgba(0, 0, 0, 0.3);
    --text-color: rgba(255, 255, 255, 0.7);
}

*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-grey-10);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}


/* Hide the scrollbar */
body {
    scrollbar-width: none;
}

/* Hide the scrollbar in WebKit-based browsers */
body::-webkit-scrollbar {
    display: none;
}

a {
    color: #111;
}

.home-container h1 {
    color: #faa1ac;
}

.home-container {
    color: #Fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(3, 3, 3, 0.78), rgba(3, 3, 3, 0.55)), 
    url("https://img.freepik.com/premium-vector/seamless-texture-with-newspaper-clippings_600765-111.jpg?w=2000") center/cover no-repeat fixed;
    padding: 1.5rem 5rem;
}

.home-container .left {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.home-container .heading {
    font-size: 10rem;
}

.home-container .associates img {
    width: 100px;
    height: 100px;
}

.home-container .images {
    display: flex;
}

.home-container .images .associates {
    padding: 2rem 2rem;
}

input,
.chat-message {
    background-color: #111 !important;
    outline: none;
    border: none;
    color: #F22F46;
    color: #faa1ac;
}

input[type="submit"],
.home-btn {
    background-color: #faa1ac;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 1rem;
    text-align: center !important;
}

.btn-heading {
    text-align: left;
    margin: 1rem 0;
    color: black !important;
}

.left .heading {
    margin-bottom: 2rem;
}

.left {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.audio-container{
    margin: 3rem 0;
}

@media (max-width: 810px) {
    .home-container {
        padding: 1.5rem 1rem;
    }
    .home-container .heading {
        font-size: 8rem;
        text-align: center;
        margin: 0;
    }
    .home-container .right h1 {
        display: none;
    }
    .home-container {
        flex-direction: column;
        justify-content: center;
    }
    .home-container .images {
        display: none;
    }
    .btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .home-container .heading {
        font-size: 6rem;
    }
    .audio-container{
        margin: 1rem 0;
    }
}

@media (max-width: 500px) {
    .home-container .heading {
        font-size: 4.5rem;
    }
    .audio-container{
        margin: 1rem 0;
    }
}








